language: ruby
rvm:
  - 3.2.9
  - 3.3.10
  - 3.4.7
gemfile:
  - gemfiles/rails72.gemfile
  - gemfiles/rails80.gemfile
cache:
  directories:
    - $HOME/bin
    - $HOME/.bundle
install:
  - gem install bundler
  - export BUNDLE_PATH=$HOME/.bundle
  - bundle install
script:
  - bundle exec rake test
